.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
  list-style-type: none;
}

.linkIcon {
  text-decoration: none;
  color: #000;
}

.brand-icon {
  transform: scale(1, 1);
  transition: all ease 2s;
}

.brand-icon:hover {
  transform: scale(1.2, 1.2);
}

.brand-icon.facebook:hover {
  color: rgb(24, 119, 242);
}

.brand-icon.instagram:hover {
  color: rgb(228, 64, 95);
}

.brand-icon.linkedin:hover {
  color: rgb(10, 102, 194);
}

.brand-icon.github:hover {
  color: #333;
}
